<footer class="container text-center my-3">

  <!-- icons from https://simpleicons.org -->
  <!-- don't forget to edit contact-small.html as well -->

  <a rel='me' href="https://twitter.com/bitcoindevblog" class="m-2 umami--click--footer-twitter">
    <img src="/img/footer/twitter.svg" alt="logo twitter" height=32px>
  </a>

  <a rel='me' href="https://github.com/dev-bitcoin" class="m-2 umami--click--footer-github">
    <img src="/img/footer/github.svg" alt="logo github" height=32px>
  </a>

  <a href="/feed.xml" class="m-2 umami--click--footer-rss-feed">
    <img src="/img/footer/rss.svg" alt="logo rss" height=32px>
  </a>

  <a href="mailto:contact@bitcoin-dev.blog" class="m-2 umami--click--footer-gmail">
    <img src="/img/footer/gmail.svg" alt="logo mail" height=32px>
  </a>

</footer>
