<footer class="container text-center my-3">

  <div class="my-3">
    <!-- icons from https://simpleicons.org -->
    <a rel='me' href="https://twitter.com/bitcoindevblog" class="m-2 image-to-invert umami--click--footer-twitter">
      <img src="{{ relURL "img"}}/footer/twitter.svg" alt="logo twitter" height=32px>
    </a>
    <a rel='me' href="https://github.com/dev-bitcoin" class="m-2 image-to-invert umami--click--footer-github">
      <img src="{{ relURL "img"}}/footer/github.svg" alt="logo github" height=32px>
    </a>
    <a href="{{ relURL ""}}/feed.xml" class="m-2 image-to-invert umami--click--footer-rss-feed">
      <img src="{{ relURL "img"}}/footer/rss.svg" alt="logo rss" height=32px>
    </a>
    <a href="mailto:contact[at]bitcoin-dev.blog" class="m-2 image-to-invert umami--click--footer-gmail">
      <img src="{{ relURL "img"}}/footer/gmail.svg" alt="logo mail" height=32px>
    </a>
  </div>
  <span class="small text-muted">
    This page uses a self-hosted <a href="https://umami.is" class="umami--click--footer-umamiis">umami.is</a> instance as privacy-friendly visitor counter.
    The statistics are pubicly accessible <a href="https://umami.b10c.me/share/hwUBMhXc/bitcoin-dev-blog" class="umami--click--footer-stats">here</a>.
  </span>

</footer>
