<nav class="navbar container rounded-bottom shadow-sm mb-4">
  <a class="navbar-brand" href="/">
    <img src="/logo-large.png" height="50" class="d-inline-block align-baseline image-to-invert mx-2" alt="bitcoin-dev blog logo">
    <div class="d-inline-block">
      <h1 class="d-block mb-0">bitcoin-dev blog</h1>
      <small class="d-block">projects by Bitcoin devs</small>
    </div>
  </a>
  <div class="ml-auto">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="light-dark-mode-switch">
      <noscript>requires JS</noscript>
    </div>
    <script>
      const MODE_KEY = "mode"
      var html = document.querySelector("html")
      var darkmodeSwitch = document.getElementById("light-dark-mode-switch")

      function set_dark_mode() {
        darkmodeSwitch.checked = true;
        html.classList.add("dark")
        html.classList.remove("light")
        localStorage.setItem(MODE_KEY, true);
      }

      function set_light_mode() {
        darkmodeSwitch.checked = false;
        html.classList.add("light")
        html.classList.remove("dark")
        localStorage.setItem(MODE_KEY, false);
      }

      let storedMode = localStorage.getItem(MODE_KEY) == "true" ? true : false;
      let perfersDarkmode = window.matchMedia('(prefers-color-scheme: dark)').matches
      if(storedMode) {
        console.log("Dark-mode set in localStorage.");
        set_dark_mode();
      } else if (perfersDarkmode) {
        console.log("User prefers dark-mode.");
        set_dark_mode();
      } else {
        set_light_mode();
      }

      darkmodeSwitch.addEventListener('change', (event) => {
        if (event.currentTarget.checked) {
          set_dark_mode();
        } else {
          set_light_mode();
        }
      })
    </script>
  </div>
</nav>
